@import "@assets/styles/app.scss";

.ev-color-selector {
  display: flex;
  align-items: center;
  gap: 0.33rem;

  &-color {
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 0.25rem;

    &[data-selected='true'] {
      border: 1px solid #FFF;
    }
  }

  &-colors {
    color: #FFF;
    display: flex;
    gap: .31rem;

    .ev-components--color-switcher_value {
      width: 1.125rem;
      height: 1.125rem;
      border-radius: 0.25rem;
    }

    .ev-components--color-switcher_value--active {
      border: 1px solid #FFF;
    }
  }

  .ev-icon {
    cursor: pointer;
    color: $ev--b-200;

    &:hover {
      color: $ev--b-000;
    }
  }

  &[data-disabled="true"] {
    pointer-events: none;

    .ev-icon {
      color: $ev--b-300;
    }
  }
}