@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Regular.eot');
    src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
        url('@assets/fonts/SFUI/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Regular.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Regular.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Ultralight.eot');
    src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
        url('@assets/fonts/SFUI/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Ultralight.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Ultralight.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Heavy.eot');
    src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
        url('@assets/fonts/SFUI/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Heavy.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Black.eot');
    src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
        url('@assets/fonts/SFUI/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Black.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Black.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Semibold.eot');
    src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
        url('@assets/fonts/SFUI/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Semibold.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Semibold.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Bold.eot');
    src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
        url('@assets/fonts/SFUI/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Bold.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Bold.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Thin.eot');
    src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
        url('@assets/fonts/SFUI/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Thin.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Thin.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Medium.eot');
    src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
        url('@assets/fonts/SFUI/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Medium.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Medium.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('@assets/fonts/SFUI/SFUIDisplay-Light.eot');
    src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
        url('@assets/fonts/SFUI/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('@assets/fonts/SFUI/SFUIDisplay-Light.woff2') format('woff2'),
        url('@assets/fonts/SFUI/SFUIDisplay-Light.woff') format('woff'),
        url('@assets/fonts/SFUI/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

