@import "@assets/styles/app.scss";

.ev-progress {

  &-circular {
    &-track {
      stroke-width: 10;
      stroke: rgba(255, 255, 255, .2);
      fill: none;
    }

    &-progress {
      stroke-width: 10;
      stroke: #FFF;
      stroke-linecap: round;
      fill: none;
      transform: rotate(270deg);
      transform-origin: center;
      transition: .3s ease-in-out;
    }
  }
}