@import "@assets/styles/app.scss";

.ev-horizontal-progress {
  &-track {
    display: flex;
    width: 12.5rem;
    background: $ev--b-300;
    border-radius: 1.875rem;
    overflow: hidden;
    transition: background-color .3s;
  }

  &[data-disabled="true"] {
    .ev-horizontal-progress-track {
      background: $ev--b-400;
    }

    .progress {
      background: $ev--b-200;
    }
  }

  &[data-size="sm"] &-track {
    height: 0.375rem;
  }

  &[data-size="md"] &-track {
    height: 0.5rem;
  }

  .progress {
    background: $ev--p-500;
    height: 100%;
    border-radius: 1.875rem;
    transition: .3s ease-out;
  }
}